.pricingContainer{
    max-width: 800px;
    /* border:1px solid; */
    margin: 0 auto;
}

.pricingContainer > h2{
    font-size: 3em;
    font-weight: 600;
}

.pricingContainer > p{
    max-width: 500px
}



