.publishContainer{
    width: 80%;
    max-width: 900px;

    padding: 2em;
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 3em;

    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 4px 9px 10px #00000061;
}

.publishContainer > null  {
    align-items: center ;
}

.publishContainer > null > span  {
    align-items: center !important;
}

.publishContainer  null  {
    align-items: center ;
}

.publishContainer  h3{
    font-size: 1.5rem;   
}
.publishContainer  h3 > *{
    text-align: center;
    margin: 0 auto;
}

.publishContainer  h1{
    font-weight: 600;
    font-size: 22px;
    padding: 10px 0px 10px
}

 .publishContainer a{
    text-align: center !important;
}

.publishContainer a[title="Source URL"] {
  margin: auto;
  text-align: center;
}

.publishContainer  p{
    align-items: center ;
}

.publishContainer   img{
    border-radius: 10px;
    max-width: 70%;
    align-items: center !important;
  
}

.publishContainer > *{
     display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    padding-top: 7px;
}

@media (min-width : 1024px){
    .publishContainer{
        margin: 0 auto;
        margin-bottom: 3em;
    }
}