.blogContainer{
    max-width: 400px;
    margin: 0 auto;
}

.blogTagContainer{
    margin-top: 0.5em;
    display: flex;
    gap: 0.25em;
}

.blogTag{
    background-color: #bdd5f6;
    padding: 0.1em;
    color: white;
    border-radius: 7px;
    padding: 0.1em 0.3em;
    font-size: 0.9em;
}

.statusDelButton{
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid;
    border-radius: 7px;
    width: -moz-min-content;
    width: min-content;
    padding: 0.25em 1em;
    margin-bottom: 0.5em;    
}

.statusButton{
    color: #00d1ff;
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 1000;
}

.deleteButton{
    color: #ff2a00;
    position: absolute;
    top: 43%;
    left: 5%;
    z-index: 1000;
}

@media (max-width : 1024px) {
    .savedBlogContainer{
        width: 80% !important; 
        margin: 0 auto;
    }
}